#container-registro{
    background-color: #ffeeee;
    border: 2px solid #007cca;
    border-radius: 10px;
    margin-top: 15px;
    width: 600px;
    height: auto;
    color: black;
    display: flex;
    flex-flow: column;
}

#container-registro h3{
    text-align: center;
}

#container-registro p {
    padding-left: 10px;
    margin-top: 0;
}

#container-registro input{
    background-color: white;
}

#submit-box {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.w3-input{
    margin-bottom: 5px;
}

.invalid-input {
    border-bottom-color: #ffdddd!important
}
