article {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container {
    background-color: #ffeeee;
    width: 350px;
}

.input-box,
article div h2 {
    position: relative;
    left: 10px;
    padding: 3px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.w3-input {
    height: 28px
}

#submit-box {
    position: relative;
    left: 25%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#submit{
    background-color: #999;
}

#registrarse {
    padding-right: 10px;
    padding-top: 1px;
    height: 20px;
}

#registrarse input{
    background-color: #999;
}